# Auto detect text files and perform LF normalization
*          text=auto

*.cs       text diff=csharp eol=crlf
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf
*.xaml     text eol=crlf
*.axaml    text eol=crlf
