<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blend.Interctivity.WPF.v4.0" version="1.0.3" targetFramework="net45" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="ini-parser" version="2.5.2" targetFramework="net48" />
  <package id="NAudio" version="1.10.0" targetFramework="net48" />
  <package id="NBug" version="1.2.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.27.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
  <package id="WanaKanaSharp" version="0.1.1" targetFramework="net48" />
  <package id="WriteableBitmapEx" version="1.6.7" targetFramework="net48" />
  <package id="xxHashSharp" version="1.0.0" targetFramework="net462" />
</packages>